<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Clockwork Reporting</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="static/Favicon_2018.png" rel="icon">
  <link href="static/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/animate/animate.min.css" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
</head>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<body>
<header id="header">
    <div class="container">
      <!-- <div id="logo" class="pull-left">
        <a href="index.html"><img src="img/LogoGreyscale.png" style="max-height:40px" alt="POWWER" title="" /></img></a>
      </div> -->
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li class="menu-has-children"><a href="">Reports</a>
            <ul>
            <li><a href="/address">Address</a></li>
            <li><a href="/email">Email</a></li>
            <li><a href="/phone">Phone</a></li>
            <li><a href="/events">Events</a></li>
            </ul>
            </li>
          <li><a href="/team">Team</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
  <section id="hero">
    <div class="hero-container">
      <h1>Clockwork</h1>
    </div>
  </section>
  <section style="margin:30px">
      <p> Enter the firm id "/1" or "/400" after any of the report urls and the respective report will download to your machine.</p>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form>
          <div class="form-group m-top-75">
            <label for="firm_id">Firm ID:</label>
            <input type="text" class="form-control" id="firm_id">
          </div>
          <div class="form-group">
            <label for="month">Month:</label>
            <input type="text" class="form-control" id="month">
          </div>
          <div class="form-group">
            <label for="year">Year:</label>
            <input type="text" class="form-control" id="year">
          </div>
          <button id="submit" class="btn btn-success right">Submit</button>
        </form>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
        <h3 class="text-center">17 &amp; Older: Can Watch R-Rated Movies</h3>
        <ul id="can-watch" class="list-group">
        </ul>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Under 17: Cannot Watch R-Rated Movies</h3>
        <ul id="cannot-watch" class="list-group">
        </ul>
      </div>
    </div> -->
  </div>
</body>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="static/jquery.min.js"></script>
<script src="static/jquery-migrate.min.js"></script>
<script src="static/bootstrap.bundle.min.js"></script>
<script src="static/easing.min.js"></script>
<script src="static/wow.min.js"></script>
<script src="static/waypoints.min.js"></script>
<script src="static/counterup.min.js"></script>
<script src="static/hoverIntent.js"></script>
<script src="static/superfish.min.js"></script>

<!-- Template Main Javascript File -->
<script src="static/main.js"></script>

</html>